publish/
.pic/
qt/out/
.error-dumps/
_CPack_Packages/
.cr/
.tmp/
.temp/
.secrets/
*/__pycache__/
build*/
!build/
build/*
!build/toolchains/
!build/toolchains/**
!build/build-qt-win-x64.sh
!build/mpv/
build/mpv/*
!build/mpv/put-mpv-2-dll-here
